*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-size: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  margin: 0;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  margin: 0;
  padding-bottom: 16px;
  text-align: center;
  font-weight: 500;
}

p {
  padding-top: 10px;
  padding-bottom: 17px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.piskvorky {
  max-width: 370px;
  margin-top: 80px;
  margin-bottom: 50px;
}

.uvodni img {
  width: 100%;
  border-radius: 4px 4px 0 0;
  display: block;
}

.obsah {
  background-color: #283e50;
  text-align: center;
  padding: 13px;
  line-height: 1.5;
}
.tlacitka a {
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.pravidla {
  background-color: #1fcca4;
  border-bottom: #283e50 solid 1px;
}

.pravidla:hover {
  background-color: #1cbb96;
}

.zacitHrat {
  background-color: #0197f6;
}

.zacitHrat:hover {
  background-color: #0090e9;
}

.piskvorky--rules {
  max-width: 370px;
  box-shadow: 0px 0px 20px 0px rgba(154, 130, 184, 0.44);
  margin-top: 80px;
  margin-bottom: 50px;
}

.pravidlatxt {
  background-color: #283e50;
  text-align: left;
  padding: 13px;
  line-height: 1.5;
  border-radius: 4px 4px 0 0;
}

ol {
  margin-top: 10px;
  margin-bottom: 30px;
  padding-right: 20px;
}

ol > li {
  margin-bottom: 10px;
  padding-left: 10px;
}

.describe {
  font-style: italic;
  text-align: center;
  padding-bottom: 20px;
}

.describe-img {
  max-width: 100%;
}

.symbol {
  filter: invert(100%);
  width: 1em;
  height: 1em;
}

figure {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.play {
  max-width: 80vmin;
  margin-top: 60px;
  margin-bottom: 60px;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.player {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.text {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0.2em;
}

.home,
.restart {
  display: inline-block;
  padding: 7px 7px;
  border-radius: 5px;
}

.home {
  background-color: #1fcca4;
}

.home:hover,
.home:focus {
  background-color: #1cbb96;
}

.restart {
  margin-left: 7px;
  background-color: #0197f6;
}

.restart:hover,
.restart:focus {
  background-color: #0090e9;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  box-shadow: 0px 0 10px rgb(0 0 0 / 30%);
}

.grid__pole {
  flex: 1 1 10%;
  height: calc(80vmin * 0.1);
  background-color: #bcb0d6;
  border: 1px solid black;
  padding: 1px;
}

.grid__pole:hover {
  background-color: #d6ccec;
}

@keyframes scale {
  from {
    background-size: 0%;
  }
  to {
    background-size: 80%;
  }
}

.grid__pole-circle {
  background: url(img/circle.svg) no-repeat center center;
  background-size: 80%;
  background-color: #bcb0d6;
  animation: scale 0.15s linear;
}

.grid__pole-cross {
  background: url(img/cross.svg) no-repeat center center;
  background-size: 80%;
  background-color: #bcb0d6;
  animation: scale 0.15s linear;
}

@media (min-width: 750px) {
  .piskvorky--rules {
    max-width: 740px;
    font-size: 1.2em;
  }

  .instruction {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 20px) / 2);
    justify-content: space-around;
  }

  .describe,
  .foto {
    width: 340px;
  }

  .describe {
    font-size: 0.75em;
  }

  .symbol {
    font-size: 1.5em;
  }

  .text {
    font-size: 1.75em;
  }
}
