/* Nadpis Piškvorky je fontem Lobster. Najdeš ho zdarma na Google Fonts.
Různé vzdálenosti, velikosti textu odhadni od oka nebo přesně změř na obrázku výše.
Gradient v pozadí jde z fialové  #615dad do růžové  #ffc8da.
Další barvy, které se ti budou hodit:
Barva textu  #ffffff.
Podkladová tmavě modrá  #283e50.
Tlačítko Pravidla  #1fcca4. A po najetí myši  #1cbb96.
Tlačítko Začít hrát  #0197f6. Po najetí  #0090e9. */

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-size: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  margin: 0;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  margin: 0;
  padding-bottom: 16px;
  text-align: center;
  font-weight: 500;
}

p {
  padding-top: 10px;
  padding-bottom: 17px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.piskvorky {
  max-width: 370px;
  box-shadow: 0px 0px 20px 0px rgba(154, 130, 184, 0.44);
  margin-top: 80px;
  margin-bottom: 50px;
}

.uvodni img {
  width: 100%;
  border-radius: 4px 4px 0 0;
  display: block;
}

.obsah {
  background-color: #283e50;
  text-align: center;
  padding: 13px;
  line-height: 1.5;
}
.tlacitka a {
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.pravidla {
  background-color: #1fcca4;
  border-bottom: #283e50 solid 1px;
}

.pravidla:hover {
  background-color: #1cbb96;
}

.zacitHrat {
  background-color: #0197f6;
}

.zacitHrat:hover {
  background-color: #0090e9;
}

.pravidlatxt {
  background-color: #283e50;
  text-align: left;
  padding: 13px;
  line-height: 1.5;
}

ol {
  margin-top: 10px;
  margin-bottom: 30px;
  padding-right: 20px;
}

ol > li {
  margin-bottom: 10px;
  padding-left: 10px;
}

.describe {
  font-style: italic;
  text-align: center;
  padding-bottom: 20px;
}

.describe-img {
  max-width: 100%;
}

.symbol {
  filter: invert(100%);
  width: 1em;
  height: 1em;
}

figure {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

@media (min-width: 750px) {
  .piskvorky {
    max-width: 740px;
    font-size: 1.2em;
  }

  .instruction {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }

  .describe,
  .foto {
    width: 340px;
  }

  .describe-img {
    width: 340px;
  }
}
